/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('../assets/fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Regular.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('../assets/fonts/GeneralSans-Medium.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Medium.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('../assets/fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Bold.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

:root {
  --space-unit: 8px;
  --space-xs: calc(var(--space-unit) * 1);  /* 8px */
  --space-s: calc(var(--space-unit) * 2);   /* 16px */
  --space-m: calc(var(--space-unit) * 3);   /* 24px */
  --space-l: calc(var(--space-unit) * 4);   /* 32px */
  --space-xl: calc(var(--space-unit) * 5);  /* 40px */
}

body {
  font-family: 'GeneralSans-Medium', sans-serif;
  font-size: 16px;
  background-color: #E8DED1;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
}

.container {
  max-width: 428px;
  width: 100%;
  min-height: 100vh;
  padding: var(--space-s);
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  background-color: #E8DED1; /* Fallback color */
  background-image: url('assets/baba-bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
}

header {
  margin-bottom: var(--space-xl);
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 64px; /* Default for very small screens */
    margin-bottom: var(--space-s);
}

@media (min-width: 375px) {
    .logo {
        margin-top: 88px; /* Your specified margin for most mobile devices */
    }
}

.tagline {
  margin-top: 0;
  margin-bottom: var(--space-m);
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: var(--space-s);
  margin-bottom: var(--space-m);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.location-container {
  margin-bottom: 12px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.change-link {
    font-family: 'GeneralSans-Medium', sans-serif;
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
}

.sub-header {
  display: inline-block;
  background-color: #000000;
  color: #FAFAF9;
  border-radius: 2px;
  padding: 0 16px;
}

.sub-header h2 {
  font-family: 'GeneralSans-Bold', sans-serif;
  margin: 0;
  font-size: 16px;
}

.editable-field {
  background-color: #D4C5B1;
  border: 1px solid #CBB292;
  border-radius: 6px;
  padding: 18px 16px;
  font-family: 'GeneralSans-Medium', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.card-header {
  font-family: 'GeneralSans-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}

#weather-today {
  background-color: rgba(255,255,255,0.62);
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(212,197,177,1);
  position: relative;
  cursor: pointer;
}

.caret {
  position: absolute;
  right: 16px;  /* Adjust this value to move left/right */
  top: 50%;  /* Center vertically */
  transform: translateY(-50%);  /* Ensure perfect vertical centering */
  width: 10px;  /* Adjust based on your SVG size */
  height: 16px;  /* Adjust based on your SVG size */
  background-image: url('assets/caret.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.detail {
  font-family: 'GeneralSans-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.detail .text-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.detail.fade-in .text-content {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.5s ease-out forwards;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #C5C3C0;  /* Default color */
}

.text-placeholder {
  height: 24px;
  width: 62%;
  background-color: #C5C3C0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.placeholder .text-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #C5C3C0, #D5D3D0, #C5C3C0);
  animation: loading 1.5s infinite;
  background-size: 200% 100%;
}

.placeholder {
  margin-bottom: 13px;
}

@keyframes loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.divider {
  width: calc(100% + 32px);
  height: 3px;
  background-color: #CBB292;
  margin: 38px -16px; /* Adjust this value to control the vertical spacing around the divider */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

#weather-data:last-child {
  margin-bottom: 0;
}